version: "3"
services:
    lightowl:
        image: lightowlproject/server:{{version}}
        restart: always
        command: >
             /bin/bash -c "
                while ! nc -z rabbitmq 5672;
                do
                    sleep 2;
                done;
                uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
        volumes:
            - /etc/ssl/lightowl/:/etc/ssl/lightowl/
        depends_on:
            - mongo
            - rabbitmq
            - influxdb
            - redis
        healthcheck:
            test: curl --fail http://localhost:8000/docs || exit 1
            interval: 10s
            timeout: 10s
            retries: 3
        environment: 
            version: {{version}}
            mongodb_url: mongo
            mongodb_database: lightowl
            rabbitmq_url: rabbitmq
            rabbitmq_port: 5672
            rabbitmq_user: lightowl
            rabbitmq_password: {{rabbit_password}}
            redis_url: redis
            redis_port: 6379
            debug: 'false'
            influx_url: influxdb
            influx_database: lightowl
   
    worker:
        image: lightowlproject/worker:{{version}}
        restart: always
        volumes:
            - /etc/ssl/lightowl/:/etc/ssl/lightowl/
        command: >
             /bin/bash -c "
                while ! nc -z rabbitmq 5672;
                do
                    sleep 2;
                done;
                celery -A worker worker -l info"
        depends_on:
            - mongo
            - rabbitmq
            - influxdb
        environment: 
            version: {{version}}
            mongodb_url: mongo
            mongodb_database: lightowl
            mongodb_ssl: 'true'
            rabbitmq_url: rabbitmq
            rabbitmq_port: 5672
            rabbitmq_user: lightowl
            rabbitmq_password: {{rabbit_password}}
            redis_url: redis
            redis_port: 6379
            debug: 'true'
            influx_url: influxdb
            influx_database: lightowl

    haproxy:
        image: lightowl-haproxy
        restart: always
        build:
            context: /home/haproxy/
            dockerfile: /home/haproxy/dockerfile
        ports:
            - 127.0.0.1:1936:1936
            - 5671:5671
            - 443:443
            - 80:80
        volumes:
            - /etc/ssl/lightowl/:/etc/ssl/lightowl/
        depends_on: 
            - lightowl
            - rabbitmq
    
    mongo:
        image: mongo:4.4
        restart: always
        volumes:
            - mongodata:/data/db
        ports:
            - 127.0.0.1:27017:27017
    
    redis:
        image: redis
        restart: always
        volumes:
            - redis_data:/data
        ports:
            - 127.0.0.1:6379:6379

    rabbitmq:
        image: lightowl_rabbitmq
        restart: always
        build:
            context: /home/rabbitmq/
            dockerfile: /home/rabbitmq/rabbitmq.dockerfile
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq
        depends_on: 
            - influxdb
        ports:
            - 127.0.0.1:15672:15672
    
    collector:
        image: lightowlproject/collector:{{version}}
        restart: always
        command: >
             /bin/bash -c "
                while ! nc -z rabbitmq 5672;
                do
                    sleep 2;
                done;
                telegraf -config /etc/telegraf/telegraf.conf -config-directory /etc/telegraf/telegraf.d"
        volumes:
            - /home/telegraf/:/etc/telegraf/:ro
            - /var/run/docker.sock:/var/run/docker.sock
            - /etc/ssl/lightowl:/etc/ssl/lightowl
            - /:/hostfs:ro
            - /etc:/hostfs/etc:ro
            - /proc:/hostfs/proc:ro
            - /sys:/hostfs/sys:ro
            - /var/run/utmp:/var/run/utmp:ro
        depends_on:
            - influxdb
            - rabbitmq
            - haproxy

    influxdb:
        image: influxdb:1.8
        restart: always
        environment: 
            - INFLUXDB_DB=lightowl
        volumes:
            - /home/influxdb/influxdb.conf:/etc/influxdb/influxdb.conf:ro
            - /etc/ssl/lightowl:/etc/ssl/lightowl
            - influxdata:/var/lib/influxdb:rw
        ports:
            - 127.0.0.1:8086:8086

volumes:
    mongodata:
        driver: local
    influxdata:
        driver: local
    chronograf_data:
        driver: local
    rabbitmq_data:
        driver: local
    redis_data:
        driver: local
